*{
	margin: 0;
}
header{
	background: #5b7989; 
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	border-radius:  10px 10px 0 0; 
	height: 50px;
	top: 0;
}
a{
	color: white;
}
h1{
	float: left;
}
nav{
	height: 100%;
}
li{
	display: block;
	float: right;
	margin: 0px 5px;
  	padding: 15px 0px;
  	height: 100%;

}
.active a{
	text-decoration: none;
}
body{

}