*{
	margin: 0;
}
header{
	background: #5b7989; 
	color: white;
	text-shadow: 2px 2px 2px #02010a;
	border-radius:  10px 10px 0 0; 
	height: 50px;
	top: 0;
}
a{
	color: white;
}
 h1{
	float: left;
}
 nav{
	height: 100%;
	
}
li{
	display: block;
	float: right;
	margin: 0px 5px;
  	padding: 15px 0px;
  	height: 100%;

}
.active a{
	text-decoration: none;
}
body{
	background: #02010a;
	font-family: 'Dancing Script';
}
.contenedor{
  display: flex; /*distribucion fluida*/
  flex-flow: row wrap;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}


.columna1{
	background: #82c3a6;
	width: 100%;
}
.columna2{
	background: #d5c75f;
	width:50%;
	float: left;
}
.columna3{
	background: #d5c75f;
	width:50%;
	float: right;
}
/*imagenes*/
#imagenIndex1 img{
	width:80%;
}
#imagenIndex2 img{
	width:80%;
	
}
#imagenIndex3 img{
	width:80%;
	
}



/*media queris*/
@media screen and (max-width: 900px){
	/*para moviles*/
	.contenedor
	{
		width: 100%;
		margin: 0 auto;
	}
	.columna1
	{
	width: 100%;
	}
	.columna2
	{
	width: 100%;
	}
	.columna3
	{
	width: 100%;
	}

	header
	{
	width:100%;
	text-align: center;
	}

}

@media screen and (min-width: 901px){
	/*laptop y escritorio*/
	.contenedor
	{
		width: 90%;
		margin: 0 auto;
	}
}