*{
	margin: 0;
}
header{
	background: #5b7989; 
	color: white;
	width: 900px;
	height: 50px;
	text-shadow: 2px #02010a;
	border-radius:  10px 10px 0 0; 
	animation-duration: 1s;
	animation-name: slidein;

}
a{
	color: white;
}

.active a{
	text-decoration: none;
}
body{
	background: #02010a;
	font-family: 'Dancing Script';
}

img{
	box-shadow: 2px #02010a;
	-webkit-box-shadow: 2px #02010a;
  	-moz-box-shadow: 2px #02010a;
}

.contenedor, .galeria{
  display: flex; /*distribucion fluida*/
  flex-flow: row wrap;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
.galeria{
	background: #d5c75f; 
}

.contenedor a{
	color: black;
}
div [class*="columna"]{
  flex: 1 2 50%;
}
/*columnas del index*/
.central{
	background: #82c3a6;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.columna2{
	background: #d5c75f;
	width:50%;
	/*float: left;*/
	order: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.columna3{
	background: #d5c75f;
	width:50%;
	/*float: right;*/
	order: 2;
	padding-top: 10px;
	padding-bottom: 10px;
}
/*imagenes del index*/
#imagenIndex1 img{
	width:80%;
	
}
#imagenIndex2 img{
	width:80%;
	border: 1px solid black;
}
#imagenIndex2 img:hover{
	transform: rotate(10deg);
	-webkit-box-shadow: 2px #82c3a6;
  	-moz-box-shadow: 2px #82c3a6;
	box-shadow: 2px #82c3a6;
	border: 2px solid #82c3a6;

}
#imagenIndex3 img{
	width:80%;
	border: 1px solid black;
	
}
#imagenIndex3 img:hover{
	-webkit-box-shadow: 2px #82c3a6;
  	-moz-box-shadow: 2px #82c3a6;
	box-shadow: 2px #82c3a6;
	border: 2px solid #82c3a6;
	transform: translate(20px, -5px);
	
}
/*imagenes galeria*/
img {
  width: 70%;
}
#imagen-paisajes1,#imagen-retratos1{
	-webkit-filter: blur(10px);
	filter: blur(10px);
}
#imagen-paisajes2,#imagen-paisajes4,#imagen-paisajes6,
#imagen-retratos2,#imagen-retratos4,#imagen-retratos6
{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%); 
}
#imagen-paisajes3,#imagen-retratos3{
	-webkit-filter: sepia(90%);
	filter: sepia(90%);
}

/*paisajes*/
div [class*="columna-galeria"]{
  flex: 1 2 33%;
}

/*pie de pagina*/
footer{
	border-radius: 0 0 10px 10px;
	background-color: #c6d5c5;
	clear: both;
	width: 900px; 
	display: flex; /*distribucion fluida*/
  	flex-flow: row wrap;
	/*position: relative;*/
}
footer [class*="col"]{
  flex: 1 2 25%;
  text-align: center;
  display: inline-block;
  padding: 0;
}
/*iconos-redes sociales*/
     .icon-facebook2 {background:#3b5998;} 
	 .icon-tumblr2 {background:#3b5998;} 
	 .icon-google-plus2 {background:#d34836;}

/*animacion slidein abajo - arriba*/
@keyframes slidein {

  0%{
  	margin-top: 150%;
  }
  60%{
  	margin-top: -5%;
  }
  100%{
  	margin-top: 0%;
  }
}

/*media queris*/
@media screen and (max-width: 900px){
	/*para moviles*/
	.contenedor, .galeria
	{
		width: 90%;
		margin: 0 auto;
		display: flex; /*distribucion fluida*/
  		flex-flow: column;

	}
	div [class*="columna-galeria"]{
	  margin-top: 5px;
	}
	.central
	{
	width: 100%;
	}
	.columna2
	{
	width: 100%;
	}
	.columna3
	{
	width: 100%;
	}

	header
	{
		width: 90%;
		height: 100px;
		margin: 0 auto;
		text-align: center;
	}
	h1{
		text-align: center;
	}
	body{
		text-align: center;
	}
	ul{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		padding: 0;
	}
	li{
		text-decoration: none;
		display: inline-block;
		text-align: center;
	}
	footer{
		display: flex; /*distribucion fluida*/
  		flex-flow: column;
  		width: 90%;
  		margin: 0 auto;
		text-align: center;
	}
	.col1{
		width: 100%;
	}
	.col2{
		width: 100%;
	}
	.col3{
		width: 100%:;
	}
	.col4{
		width: 100%;
	}

}

@media screen and (min-width: 901px){
	/*laptop y escritorio*/
	.contenedor, .galeria
	{
		width: 90%;
		margin: 0 auto;
	}
	div [class*="columna-galeria"]{
	  margin-top: 5px;
	}
	header{
		width: 90%;
		/*height: 50px;*/
		margin: 0 auto;

	}
	h1{
	float: left;
	
	}
	li{
		display: inline-block;
	  	text-align: center;
	}
	ul{
		padding: 0;
	}
	.menu{
		float: right;
		margin: 0px 5px;
	  	padding: 15px 0px;
	}
	footer{
		width: 90%;
		height: 100%;
		margin: 0 auto;
	}
	.col1 li, .col3 li{
		display: block;

	}
	
}